.modalWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1020px;
    gap: 30px;
    position: relative;

    .modalImage {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 70%;
            margin-inline: auto;
        }
    }

    .modalInfo {
        position: relative;

        .modalCrossBtn {
            position: absolute;
            background-color: transparent;
            top: -28px;
            right: -28px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            
            &::before, &::after {
                content: '';
                position: absolute;
                width: 24px;
                height: 2px;
                background-color: #000;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                rotate: 45deg;
            }
            
            &::after {rotate: -45deg;}
        }

        .modalHeader {
            display: flex;
            align-items: center;
            column-gap: 8px;

            .modalName {
                font-size: 30px;
                max-width: 80%;
                margin: 0;
            }
    
            .modalInStock {
                padding: 4px 8px;
                border-radius: 4px;
                font-size: 12px;

                &.has {
                    color: #2C742F;
                    background-color: #20b5253d;
                }

                &.hasnot {
                    background-color: rgba(234, 75, 72, .1);
                    color: #EA4B48;
                }
            }
        }

        .modalRating {
            display: flex;
            align-items: center;
            column-gap: 10px;
            margin-block: 12px 20px;

            span {
                font-size: 14px;
                color: #666666;
            }
        }

        .modalPrice {
            display: flex;
            align-items: center;
            padding-bottom: 20px;
            border-bottom: 1px solid #E6E6E6;

            .withoutDiscount {
                color: #B3B3B3;
                text-decoration: line-through;
                font-size: 20px;
                margin-right: 4px;
            }

            .withDiscount {
                color: #2C742F;
                font-size: 22px;
                font-weight: 500;
                margin-right: 12px;
            }

            .modalDiscount {
                padding: 5px 10px;
                background-color: rgba(234, 75, 72, .1);
                color: #EA4B48;
                font-size: 18px;
                font-weight: 500;
                border-radius: 30px;
            }
        }

        .modalCategory, .modalWeight, .modalDesc{
            margin-top: 10px;
            font-weight: 400;
            font-size: 17px;
            color: #808080;
        }

        .modalDesc {
            padding-bottom: 12px;
            border-bottom: 1px solid #E6E6E6;

            p {
                color: #1A1A1A;
                font-weight: 500;
                margin-bottom: 8px;
                font-size: 20px;
            }
        }

        .modalActions {
            display: flex;
            padding-block: 19px;
            border-bottom: 1px solid #E6E6E6;
            column-gap: 12px;
            color: #1A1A1A;

            .addBtn {
                flex-grow: 1;
                padding-block: 12px;
                border-radius: 43px;
                background-color: #00B207;
                color: #fff;
                font-weight: 600;
                font-size: 18px;
                cursor: pointer;
                transition: .24s;

                &:hover {
                    background-color: darken(#00B207, 8);
                }
            }

            .favoriteBtn {
                background-color: transparent;
                padding: 10px;
                border-radius: 50%;
                border: 1px solid #E6E6E6;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }

        .modalCategory, .modalWeight {
            span {
                color: #1A1A1A;
                font-weight: 500;
                font-size: 18px;
            }
        }
    }
}