.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: none;
    background-color: rgba(0,0,0,.7);

    &.active {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &Content {
        padding: 40px;
        background-color: #fff;
        border-radius: 10px;
    }
}