@import url(./normalize.scss);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans';
}

.container {
    max-width: 1600px;
    margin-inline: auto;
}

.homepage-container, .cart-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.cart-container {
    gap: 50px;
}

@media (max-width: 1600px) {
    .container {
        max-width: 1280px;
        padding-inline: 20px;
    }
}

$turquoise-green-color: #0DA487;
$light-gray: #ECECEC;
$accent-color: #FFA53B;