@import url(./normalize.scss);
$turquoise-green-color: #0DA487;
$light-gray: #ECECEC;
$accent-color: #FFA53B;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans';
}

::-webkit-scrollbar {
    width: 2px;
    // background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: $turquoise-green-color;
}

.container {
    max-width: 1600px;
    margin-inline: auto;
}

.homepage-container, .cart-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.cart-container {
    gap: 50px;
}

.notification {
    text-align: center;
}

@media (max-width: 1600px) {
    .container {
        max-width: 1280px;
        padding-inline: 20px;
    }
}
